/* Style podstawowe */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 100;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}

.modal.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 1em;
}
h2 {
    margin:0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    z-index: 999;
}
.modal.visible {
    display: flex;
}

.modal-content {
    background: white;
    border-radius: 8px;
    max-width: 500px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    background-color: #ffffff00;
}

/* Formularze */
#registerForm {
    display: none;
}

#registerForm.visible,
#loginForm.visible {
    display: block;
}

.auth-form input {
    display: block;
    border: 2px black solid;
    margin: 1px;
    border-radius: 5px;
    padding:4px;
}

.auth-form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: chocolate;
    border: none;
    border-radius: 6px;
}
.auth-form button:hover {
    background-color: rgb(160, 83, 28);
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}